Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@sraisian 
j4klein95
/
Mission_to_Mars
0
01
 Code Issues 0 Pull requests 0 Actions Projects 0 Wiki Security Insights
Mission_to_Mars/templates/index.html
@j4klein95 j4klein95 big commit...
8629ac5 on Jan 3, 2018
123 lines (110 sloc)  2.98 KB
  
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scraping Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Scrape Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars</a></p>
    </div>

   

</body>

</html>
</body>
</html>

